VegamMaintenanceModule/Vegam_MaintenanceModule/Connected Services/ipas_SiteService/SiteService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nayan-pc:8081/SiteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" />
  <xs:import schemaLocation="http://nayan-pc:8081/SiteService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/iPAS_Service.Company" />
  <xs:import schemaLocation="http://nayan-pc:8081/SiteService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/iPAS_Service" />
  <xs:import schemaLocation="http://nayan-pc:8081/SiteService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/iPAS_Service.Plant" />
  <xs:element name="GetPlantSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetPlantSettingsResult" nillable="true" type="q1:PlantSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSiteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="siteInfo" nillable="true" type="q2:SiteInfo" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSiteInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSiteInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSiteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="siteInfo" nillable="true" type="q3:SiteInfo" />
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSiteInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSiteInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSiteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteForEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteForEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetSiteForEditResult" nillable="true" type="q4:SiteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeZoneList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeZoneListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetTimeZoneListResult" nillable="true" type="q5:ArrayOfTimeZoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
        <xs:element minOccurs="0" name="accessLevelID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/iPAS_Service.Company" minOccurs="0" name="GetCountryListResult" nillable="true" type="q6:ArrayOfCountryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSiteInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="siteFilter" nillable="true" type="q7:ManageSiteFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSiteInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetAllSiteInfoListResult" nillable="true" type="q8:ManageSiteList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRegionsForCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="regionFilter" nillable="true" type="q9:CompanyRegionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRegionsForCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetAllRegionsForCompanyResult" nillable="true" type="q10:ArrayOfCompanyRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersForAutoComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="basicParam" nillable="true" type="q11:BasicParam" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accessLevelID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersForAutoCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/iPAS_Service.Plant" minOccurs="0" name="GetUsersForAutoCompleteResult" nillable="true" type="q12:ArrayOfUserBasicInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPlantCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="plantInfo" nillable="true" type="q13:PlantCodeInfo" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPlantCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPlantCodesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlantCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
        <xs:element minOccurs="0" name="plantCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlantCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePlantCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetPlantCodesResult" nillable="true" type="q14:ArrayOfPlantCodeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSiteOrderType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="orderTypeInfo" nillable="true" type="q15:OrderTypeInfo" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSiteOrderTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSiteOrderTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSiteOrderType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSiteOrderTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSiteOrderTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteOrderType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteOrderTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetSiteOrderTypeResult" nillable="true" type="q16:ArrayOfOrderTypeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="filter" nillable="true" type="q17:AdditionalFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetAdditionalSettingsResult" nillable="true" type="q18:AdditionalSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdditionalSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="additionalSettings" nillable="true" type="q19:AdditionalSettings" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="filter" nillable="true" type="q20:AdditionalFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdditionalSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAdditionalSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnableModuleForSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="basicParam" nillable="true" type="q21:BasicParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnableModuleForSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetEnableModuleForSiteResult" nillable="true" type="q22:IPASModuleSettingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnableModuleBasedOnTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="moduleBasedOnTasks" nillable="true" type="q23:ModuleBasedOnTasks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnableModuleBasedOnTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetEnableModuleBasedOnTasksResult" nillable="true" type="q24:IPASModuleSettingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantTechnologyInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="technologyFilter" nillable="true" type="q25:PlantTechnologyFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantTechnologyInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetPlantTechnologyInfoResult" nillable="true" type="q26:PlantTechnologyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlantTechnology">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="basicInfo" nillable="true" type="q27:BasicParam" />
        <xs:element minOccurs="0" name="technologyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlantTechnologyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPlantTechnologyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="baiscParam" nillable="true" type="q28:BasicParam" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="defaultConnectionType" nillable="true" type="q29:ConnectionTypeSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetConnectionResult" nillable="true" type="q30:ConnectionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="basicParam" nillable="true" type="q31:BasicParam" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="basicParam" nillable="true" type="q32:BasicParam" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="connInfo" nillable="true" type="q33:ConnectionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertOrUpdateConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestSAPConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="basicParam" nillable="true" type="q34:BasicParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestSAPConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestSAPConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultConnectionSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="basicParam" nillable="true" type="q35:BasicParam" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="defaultConnection" nillable="true" type="q36:ConnectionTypeSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultConnectionSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="GetDefaultConnectionSettingsResult" nillable="true" type="q37:ArrayOfConnectionTypeSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllPlantLevelCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="plantTaskFilter" nillable="true" type="q38:PlantTaskFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllPlantLevelCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadAllPlantLevelCategoriesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllPlantLevelTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="plantTaskFilter" nillable="true" type="q39:PlantTaskFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllPlantLevelTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="LoadAllPlantLevelTasksResult" nillable="true" type="q40:ArrayOfPlantLevelTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdatePageAccessForPlant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/iPAS_Service.Site" minOccurs="0" name="plantTaskBasicParam" nillable="true" type="q41:PlantTaskBasicParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdatePageAccessForPlantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdatePageAccessForPlantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>