VegamMaintenanceModule/Vegam_MaintenanceModule/Connected Services/ipas_SiteService/SiteService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iPAS_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iPAS_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BasicParam">
    <xs:sequence>
      <xs:element name="AccessLevelID" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageCode" nillable="true" type="xs:string" />
      <xs:element name="SiteID" type="xs:int" />
      <xs:element name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicParam" nillable="true" type="tns:BasicParam" />
</xs:schema>