VegamMaintenanceModule/Vegam_MaintenanceService/Connected Services/ipas_UserService/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DPFP.Verification" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DPFP.Verification" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Verification">
    <xs:sequence>
      <xs:element minOccurs="0" name="FARRequested" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Verification" nillable="true" type="tns:Verification" />
  <xs:complexType name="Verification.Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="FARAchieved" type="xs:int" />
      <xs:element minOccurs="0" name="Verified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Verification.Result" nillable="true" type="tns:Verification.Result" />
</xs:schema>