VegamMaintenanceModule/Vegam_MaintenanceModule/Connected Services/ipas_UserService/UserService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iPAS_Service.Company" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iPAS_Service.Company" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nayan-pc:8081/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iPAS_Service.UserInfo" />
  <xs:complexType name="DepartmentRolesInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/iPAS_Service.UserInfo" base="q1:BasicInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
          <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DepartmentRolesInfo" nillable="true" type="tns:DepartmentRolesInfo" />
</xs:schema>