VegamMaintenanceModule/Vegam_MaintenanceModule/Connected Services/Vegam_MaintenanceService/MaintenanceService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DynamicGrid" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DynamicGrid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9093/MaintenanceService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfDynamicGridFilterValueInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DynamicGridFilterValueInfo" nillable="true" type="tns:DynamicGridFilterValueInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDynamicGridFilterValueInfo" nillable="true" type="tns:ArrayOfDynamicGridFilterValueInfo" />
  <xs:complexType name="DynamicGridFilterValueInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FilterValueList" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DynamicGridFilterValueInfo" nillable="true" type="tns:DynamicGridFilterValueInfo" />
</xs:schema>